[2020-04-26 11:52] kitchanismo opened #1 "Cant pass context object thru routes. The method 'setOverlayVisible' was called on null."
class _MyAppState extends State<MyApp> {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      debugShowCheckedModeBanner: false,
      title: 'Flutter Demo',
      theme: ThemeData(primarySwatch: Colors.teal, fontFamily: 'Baloo'),
      initialRoute: '/',
      routes: {
        '/': (context) => LoaderOverlay(useDefaultLoading: true, child: Home()),
        '/preview':

[2020-05-04 00:25] swapsy2018 commented on #1
the same problem I've met. Does anyone give a solution? thanks

[2020-05-04 00:42] rodrigobastosv commented on #1
Hi guys, first of all thanks for using this package.

This package was not originally designed to work with named routes, but of course it should work with it.

I'm back after some time off. Give me a day and you will have a correction for that.

Stay tuned and thanks again

[2020-05-04 01:03] rodrigobastosv commented on #1
Ok guys, it was easy to catch the error.

I just created a new widget GlobalLoaderOverlay to use on named routes. Just wrap your MaterialApp with GlobalLoaderOverlay and you would be good to go. It has the same features of LoaderOverlay.

This change will be on the 1.1.0 version of the package. I've already uploaded.

Thanks again for the feedback

[2020-06-18 10:29] JoDeveloper opened #2 "Looking up a deactivated widget's ancestor is unsafe."
[code]

[2020-06-18 12:34] #1 closed

[2020-06-18 12:35] rodrigobastosv commented on #2
Hi @JoDeveloper , can you describe the steps to reproduce this error?

[2020-06-19 07:26] #2 closed

[2020-07-30 02:25] kauemurakami commented on #2
Estou com o mesmo problema hoje. creio que seja algo a ver com o "custom", estou tentando adicionar uma imagem em um container, vou expor um pouco de código aqui.
**stack**
[code]

**main.dart**
[code]
**CadastroPage.dart**
Aqui irei exibir o Loading, o fundo aparece com a cor customizada por mim no main, meu método cadastro funciona perfeitamente. Após esse mostratei meu widgetCustom
[code]

**Cu

[2020-07-30 03:17] kauemurakami opened #3 "Looking up a deactivated widget's ancestor is unsafe. To safely refer to a widget's ancestor in its dispose() method, save a reference to the ancestor by"
Estou com o mesmo problema hoje. creio que seja algo a ver com o "custom" ou context, quase certeza que é isso, mas tentei de tudo para escapar do erro com GlobalKey, extender stateless e estou perdido agora.
Estou tentando adicionar uma imagem em um container, vou expor um pouco de código aqui.
**stack**
[code]

**main.dart**
[code]
**CadastroPage.dart**
Aqui irei exibir o Loading, o fundo aparec

[2020-07-30 19:19] kauemurakami commented on #2
If it is still useful, you should be sure to use hideLoaderOverlay () after your async function is finished.
I decided that way

[code]

[2020-07-30 19:54] rodrigobastosv commented on #3
@kauemurakami vou tentar reproduzir esse erro. Vou tentar retornar o mais breve possível

[2020-07-30 19:58] rodrigobastosv commented on #3
@kauemurakami se você puder me mandar um repositório minimo com o erro ocorrendo ia me ajudar bastante :). Vi que você utiliza Get e não sou muito habituado com ele

[2020-07-30 20:14] kauemurakami commented on #3
Deixei ele público, está um pouco diferente agora, até um minuto atrás estava conseguindo  exibir a imagem e o overlay ok com um **Future** como no exemplo, o problema é com a função async, ele apenas **abre** e **não fecha** agora, o problemas está sendo pra fechar e **só depois** navegar para outra rota nomeada, não sei como fazer isso,o **context** que uso no show nao consigo usar no hide.
Dire

[2020-07-30 20:15] rodrigobastosv commented on #3
Blz. Vou tentar trabalhar nisso hoje de noite

[2020-07-30 20:17] kauemurakami commented on #3
Muito obrigado !!!

[2020-07-31 11:29] rodrigobastosv commented on #3
@kauemurakami eu analisei a situação. Este package foi modelado para ter somente um Overlay global. Não é possível ter um LoaderOverlay para cada página. Isto é meio que uma limitação do próprio Flutter, como pegamos o overlay pelo contexto não tem como saber especificamente de qual vc vai querer pegar.

A ideia principal do package era ter um overlay global para poder ser chamado em todo o app. R

[2020-07-31 16:27] kauemurakami commented on #3
Preciso pois vou mudar o texto e imagem de acordo com minha necessidade, tipo login é uma coisa salvar os dados é outra.
O problema q funciona se eu não sou pop.
Então se não posso usar o global widget pq vou o loaderoverlay diferente em várias paginas, tb n posso usar apenas o loaderOverlay em rotas nomeadas?
No caso da pilha do erro atual, o que está ficando na árvore?
Tenho como conseguir a cha

[2020-07-31 23:09] kauemurakami commented on #3
Consegui resolver dessa maneira, deixando como disse no global, funciona perfeitamente sem nenhum, talvez isso economize o tempo das pessoas que tentaram se aventurar como eu.
Irei marcar como fechada.

[2020-07-31 23:09] #3 closed

[2020-11-25 16:00] rodrigobastosv commented on #2
The bug is fixed on the 1.1.1 version!

[2020-11-25 16:00] rodrigobastosv commented on #3
Bug foi corrigido na versão 1.1.1!

[2020-12-11 23:50] Alecckie opened #4 "context.showLoaderOverlay() inside Cubit/Bloc"
I am unable to call **context.showLoaderOverlay();** inside Cubit since it returns a widget.
Kindly guide on how this call should be made.
i.e
` if (state is LoginLoading) {
       //Return Loader layout here
	return _centerLoader();
  }`

[2020-12-12 11:14] rodrigobastosv commented on #4
Hi @Alecckie , first of all thanks for using my package.
I do not quite get what you mean.
I suposed you called this ```if (state is LoginLoading)``` inside a BlocBuilder right? There you have a context you can call.

Do you mind give me a small reproducible repository sample with this problem?

[2020-12-12 22:33] Alecckie commented on #4
Good day sir, I was able to get it working, the issue was with my code and not with the package.

[2020-12-12 22:33] #4 closed

[2021-01-05 06:39] mozaffari opened #5 "The method 'setOverlayVisible' was called on null. Receiver: null Tried calling: setOverlayVisible(true)"
loader_overlay: ^1.1.1
get: ^3.24.0
Get.context.showLoaderOverlay();

[2021-01-05 10:45] rodrigobastosv commented on #5
Hi @mozaffari , that's interesting, never used loading_overlay with Getx, but give me a couple days to figure it out whats happening

[2021-01-05 11:52] rodrigobastosv commented on #5
@mozaffari i found the problem. The get context is up o the widget tree from loader_overlay. So to use it with getx you have to make some adjustments. The above code snippet fixes this issue.

[code]

You have to put `LoaderOverlay` widget above the GetMaterialApp and besides that you have to configure `Directionality` widget too.

Thanks for using this package, and feel free to ask more questions

[2021-01-06 07:19] mozaffari commented on #5
Wow!
forgot the interesting part of  GetX.
fixed and marking the issue as closed.

[2021-01-06 07:19] #5 closed

[2021-02-19 15:37] vmatiukh opened #6 "After loader hiding disabling tap events."
When I hide loader, it disable all my buttons on screen. Can you help me to resolve this problem?

Logs:
════════ Exception caught by gesture ═══════════════════════════════════════════════════════════════
The following StateError was thrown while handling a gesture:
Bad state: Cannot add event after closing

When the exception was thrown, this was the stack:
#1      OverlayControllerWidget.setOve

[2021-02-19 18:12] rodrigobastosv commented on #6
Hi @vmatiukh , first of all thanks for using this package. That seems quite strange.

Can you provide an example project to reproduce the error?

[2021-02-19 18:37] vmatiukh commented on #6
Sorry, but I can't.  I am showing loader when I send request to server, after that I call hiding of keyboard

                          disposition:
                              UnfocusDisposition.previouslyFocusedChild);
after that I call hide loader and push next screen. And when I pop screen back to previous screen I had error described before when I try to tap on button.

[2021-02-26 08:29] ivanesi opened #7 "Feature request: Pass widget to showLoaderOverlay();"
In our app we need to show different loaders - when app reconnecting, when user send invite to another user. So, it will be great if we can pass `overlayWidget` to `showLoaderOverlay()` like this:

`showLoaderOverlay(Text('Reconnecting'))` or `showLoaderOverlay(Text('Inviting'));`

[2021-02-26 10:12] rodrigobastosv commented on #7
Hi @ivanesi , thanks for using this package!

That's a cool usecase, give me a few days to implement this.

[2021-02-27 17:24] cswkim opened #8 "Request: Migrate to null-safety"
[This](https://dart.dev/null-safety/migration-guide) is the official Dart documentation on migrating to null-safety.

[2021-02-28 10:59] rodrigobastosv commented on #7
@ivanesi just pushed your suggestion to the 1.2.0 version. It's already availabe on pub.dev.

I've updated the README and the example to show how to use it. But it's basically what you have suggested :)

Thanks for the suggestion and thanks againg for using this package.

[2021-02-28 10:59] #7 closed

[2021-02-28 11:00] rodrigobastosv commented on #8
Hi @cswkim , thanks for using this package.

Yeah, i'll try to migrate before Flutter Engage. Will leave the issue open until i end the migration.

[2021-02-28 11:02] rodrigobastosv commented on #6
Hello @vmatiukh , i was not able to reproduce this kind of behavior. It seems very strange to me and it's probably unrelated with this package. I'll keep this issue open a little more.

Any updates please send some feedback here

[2021-03-02 11:19] rodrigobastosv commented on #8
Just migrated the package to use null safety. It's available on the version 2.0.0-nullsafety.0 just releases on pub.dev.

Thanks @cswkim

[2021-03-02 11:19] #8 closed

[2021-03-04 02:46] blck-shp opened #10 "New update lets the user interact with the screen while it's loading"
I updated the package to the latest version (1.2.0) when I noticed that the whole screen isn't opaqued. I'm using the SpinKit loader on top of this loading_overlay package and since the SpinKit loader has a default size of 50.0 pixels, the container widget apparently adjusted to the minimum size, showing a long horizontal grey line at the center with a SpinKit loader on it.

Now, I reverted back t

[2021-03-04 04:07] rodrigobastosv commented on #10
Hi @blck-shp , thanks for using this package!

Your container is taking the hole horizontal width.

I believe you can achieve the desired result with the above code:

[code]
Just drop the Container widget, and you can set the overlayColor and overlayOpacity parameters to set the desired color and opacity.

I'll leave this issue open for now. Feel free to give feedback if it helps you or not.

Than

[2021-03-04 05:42] blck-shp commented on #10
Hi @rodrigobastosv , thanks for the response. It's working now.

[2021-03-04 05:42] #10 closed

[2021-04-16 19:28] TempusZA opened #12 "Looking up a deactivated widget's ancestor is unsafe."
To safely refer to a widget's ancestor in its dispose() method, save a reference to the ancestor by calling dependOnInheritedWidgetOfExactType() in the widget's didChangeDependencies() method.

When the exception was thrown, this was the stack
#0      Element._debugCheckStateIsActiveForAncestorLookup.<anonymous closure>
package:flutter/…/widgets/framework.dart:3936
#1      Element._debugCheckState

[2021-04-16 19:59] #6 closed

[2021-04-16 20:41] rodrigobastosv commented on #12
Hi @TempusZA , thanks for using this package.

Can you provide a small sample with the error?

[2021-04-16 21:35] TempusZA commented on #12
sure. The app design I am using here differs from your pub.dev example.
To see the error, simply run the app, and press "Login".
https://github.com/TempusZA/Overlay_error

[2021-04-17 17:26] rodrigobastosv commented on #12
Hi @TempusZA , i analised this error.

The LoaderOverlay widget was created to be used only once in the widget tree. Due to the structure it was created, it will not work using more than one LoaderOverlay. You can check the README for a general use.

The good news is that a LoaderOverlay is enough to do what you need.

I made the correction in your code, if you can give me permission to upload the

[2021-04-17 19:32] TempusZA commented on #12
Hi @rodrigobastosv , thanks for the feedback. I was not aware of this.

If you create a pull request into master, I should be able to view the code changes ?

[2021-04-17 23:07] rodrigobastosv commented on #12
I tried but got permission denied error.

Could you add me as contributor of the project?

[2021-04-18 06:54] TempusZA commented on #12
its a public repo, with no PR rules associated to it ? Not sure how to add you as an explicit collaborator ? Did you try the Overlay_rework branch ?
If you dont come right, could you create zip the folder and send it to me on WeTransfer ? email address is administrator@tempus.ink

[2021-04-18 07:41] rodrigobastosv commented on #12
That's strange.

But you can get the project from here: https://drive.google.com/file/d/1acs-regJGvJ9hHJmiiNfB3ExiynlHOxg/view?usp=sharing

[2021-04-22 11:21] rodrigobastosv commented on #12
Hey @TempusZA , did it work to resolve the mentioned error? If you have not resolved, do not hesitate to ask for help.

It will be my pleasure.

[2021-05-06 18:35] #12 closed

[2021-05-21 16:06] nissim-dev opened #14 "Example for global loading overlay"
Could you set up and example on how to use the GlobalLoaderOverlay widget.

`context.loaderOverlay` isn't configured

and i cannot use it.

[2021-05-25 09:22] rodrigovasconceloszup commented on #14
Hi @nissim-dev , sorry for the delayed answer, i was taking a couple of days of.

I added the MyAppGlobalLoaderOverlay on the example project. It's a commom use of the GlobalLoaderOverlay widget.

Let me know if it does not fill your needs.

Thanks for using this package.

I'll close this issue for now, but feel free to reopen it with you need.

[2021-05-25 10:10] nissim-dev commented on #14
Hi @rodrigobastosv , thanks for the feedback.

There was a different reason for which it wasn't working for me.

I was passing the context onto another dart class and was trying to access the `context.loaderOverlay` from the other class. I had imported  `loader_overlay.dart` on my `main.dart` but I hadn't imported it in the other class that I was using it in.

All i needed to do was import
`import

[2021-05-25 10:10] #14 closed

[2021-05-25 10:20] rodrigovasconceloszup commented on #14
Thanks very much for the feedback @nissim-dev . I'll update the documentation soon.

Thanks again for using this package :)

[2021-07-28 06:42] amasahara opened #16 "How i can show loading overlay when change to another screen"
I want show loading when opening page but don't know how to do it.
I try add it to initState but it not working.

[code]

[2021-07-28 11:35] rodrigobastosv commented on #16
Hi @amasahara , thanks for using this package.

Try to put the same code on the didChangeDependencies method instead of initStat, that will probably work.

Something like this:

[code]

[2021-07-28 13:07] amasahara commented on #16
thanks you for great package

[2021-07-28 13:07] #16 closed

[2021-07-31 19:01] alexrainman opened #17 "Enhancement: set line break mode to title and message to Truncate Trail"
Is it possible?
Need to keep the Snackbar same height, title and message in one line, no matter the amount of text.

[2021-07-31 19:22] rodrigobastosv commented on #17
Hi @alexrainman, thanks for using this package.

You can pass to loaderOverlay whatever custom widget you need. So you can create your widget with the desired ui and call:

[code]

[2021-08-01 03:37] alexrainman commented on #17
Got i working. Thanks

[2021-08-01 03:37] #17 closed

[2021-09-01 20:01] colbygarland opened #18 "[Request] A way to show/hide without depending on `context`"
I would love to be able to show/hide this sucker anywhere, without depending on the context.

For example, if I am making some api calls, in my api class I would like to show/hide automatically. In this case, the code isn't in the widget, it is just in a dart file.

Is this possible?

[2021-09-01 20:19] rodrigobastosv commented on #18
Unfortunately this is not possible. This package makes use of InheritedWidget and essentially this type of Widget needs the context to be found.

I understand it's a breeze to be able to show a loading in any location, even one that doesn't have context, but should you really do that?

In my opinion, loading is tied to widgets and their states and not business rules, so in my point of view it make

[2021-09-01 20:21] rodrigobastosv commented on #18
@colbygarland , thanks for using this package. Would love to hear some feedback from you.

[2021-09-01 20:28] colbygarland commented on #18
@rodrigobastosv using the navigatorKey is perfect, this is exactly what I need :D thank you!

I really like the simplicity with this package, you are doing a very good job with triaging issues as well (fastest reply I have gotten on an open-source package yet!)

Closing with the solution:

[code]

[2021-09-01 20:28] #18 closed

[2021-09-01 20:39] rodrigobastosv commented on #18
Thanks for the kind words @colbygarland !

So glad to hear that is working for you.

If I feel that your need is the same as that of several other people, I may even develop it within the package to have this additional feature.

[2021-09-01 22:59] luis-cruzt opened #19 "Fade Out"
Hi, nice package! Is there a way to let the loading overlay fade out when calling ```context.loaderOverlay.hide();``` ?

Thanks!

[2021-09-02 16:19] rodrigobastosv commented on #19
Hi @luis-cruzt , thanks for using this package.

I never thought about this usecase, but it sounds interesting. Let me take a few days so i can see if i figure it out

[2021-09-04 02:23] rodrigobastosv commented on #19
Hi @luis-cruzt

I was not successful in my endeavor. I don't think I could because I use streams and I couldn't make them work very well with animation widgets.

Feel free to try and maybe contribute with the package. I will be very happy if you do. I'll close this issue for know, but feel free to open if you need

Thanks again for using this package!

[2021-09-04 02:23] #19 closed

[2021-10-01 11:49] roddersuk opened #20 "SpinKit not animating"
I'm trying to use a SpinKit animated spinner within a loading_overlay.
The spinner is shown OK but doesn't animate.

[2021-10-01 13:05] roddersuk commented on #20
Well, I don't know what I did but its working now. Sorry to have troubled you.

[2021-10-03 04:15] rodrigobastosv commented on #20
Hi @roddersuk. Thanks for using this package.

Glad to hear it's working fine.

I'll close this issue for now, but feel free to reopen if you need.

[2021-10-03 04:15] #20 closed

[2021-10-30 16:34] LostInDarkMath opened #21 "Overlay opacity does not work with GlobalLoaderOverlay"
Hi there,
the opacity value is ignored in case of a `GlobalLoaderOverlay`. I tried with `useDefaultLoading: false,` and `useDefaultLoading: true,` but in both cases the `overlayOpacity` seems to have no effect.

[2021-10-30 22:53] #21 closed

[2021-10-30 22:53] rodrigobastosv commented on #21
Thanks @LostInDarkMath for catching this one!

[2021-11-17 12:55] MisteriumEz opened #23 "Se possível incluir um jeito de editar o botão de volta do Android dentro da própria widget LoaderOverlay"
Salve, imaginei que tu fosse brasileiro somente pelo nome, mas aí vi os outros packages.

Utilizo bastante esse pacote aqui em especifico, e sempre coloco ele com um WillPopScope para poder travar o botão de volta, só abri o Issue para perguntar se seria possível adicionar um meio de você personalizar o botão de volta, como se fosse um parametro dentro da Widget LoaderOverlay, não sei se é possíve

[2021-11-17 13:01] rodrigovasconceloszup commented on #23
Oi @MisteriumEz , me parece uma boa feature!
Me da alguns dias que eu implemento isso.

[2021-11-17 16:39] putikorn opened #24 "It doesn't prevent back button on android"
I can still use back button to go back when loader still showing.

[2021-11-18 02:20] rodrigobastosv commented on #24
I'm aware of that. #23 is the exat same request as that. Give me a couple of days and i'll implement that

[2021-11-18 02:46] rodrigobastosv commented on #23
@MisteriumEz adicionei isso na versão 2.0.3. Já ta atualizado no pub.dev.

Muito obrigado por utilizar esse pacote!

[2021-11-18 02:46] #23 closed

[2021-11-18 02:46] rodrigobastosv commented on #24
Hi @putikorn , i've already implemented this. It's on 2.0.3 version, already on pub.dev.

Thanks a lot for using this package

[2021-11-18 11:21] AErmek commented on #24
@rodrigobastosv  Hi!
thanks for package

I'm using 2.0.3v

`disableBackButton: true,`

`context.loaderOverlay.show(widget: const AppCenterLoading());`

didn't help me, what am I doing wrong?

[2021-11-18 11:24] rodrigobastosv commented on #24
Helo @AErmek , thanks for using this package.

Can you provide a repository so i can reproduce this one?

[2021-11-18 12:01] AErmek commented on #24
here i created new test project https://github.com/AErmek/flutter_project_tests/tree/main/flutter_tests

[2021-11-18 12:17] rodrigobastosv commented on #24
Thanks a lot. Will definitely check this one later today

[2021-11-18 16:54] rodrigobastosv commented on #24
Hello @AErmek , import the 2.0.4 version on your test project.

It will work :D

[2021-11-18 16:55] rodrigobastosv commented on #23
@MisteriumEz , precisei fazer um hotfix, então a versão 2.0.3 vai ter isso!

[2021-11-18 17:18] AErmek commented on #24
Wow! it really worked, thank you so much! you fixed it very quickly, I appreciate it!

[2021-12-03 01:15] stasvo opened #25 "Import implementation files from another package issue."
By default development environment imports 'package:loader_overlay/src/overlay_controller_widget_extension.dart'  instead of 'package:loader_overlay/loader_overlay.dart' which is reason of [implementation_imports](https://dart-lang.github.io/linter/lints/implementation_imports.html) issue.

[2021-12-03 10:05] #24 closed

[2021-12-03 10:17] rodrigobastosv commented on #25
Hi @stasvo , thanks a lot for using this package.

Yes, this is boring. I believe this is more of a problem with the auto import of the IDE than with the package itself. Flutter extensions still have difficulty importing extensions.

Your issue reminded to add a linter to the package tho, so i added flutter_lints to it.

Thanks very much!

[2021-12-09 16:12] dukesx opened #26 "Error : Bad state: Cannot add event after closing"
I am trying to use this by following methods:

call context.loaderOverlay.show() in initState() as i start fetching async data then inside an async function that returns a Future, i call hide() function at the end before return.

Problem is, that i am using GlobalOverlay (for named routes) and i am calling and hiding on demand.

3 routes use this method. 2 routes work fine with each other. They ca

[2021-12-09 16:14] #26 closed

[2021-12-09 16:15] #25 closed

[2022-01-04 18:09] mrishabh72 opened #27 "[New Feature] Only show overlay over a portion of the screen (like only over ElevatedButton/Form)"
I am trying to show overlay only on one widget rather than the whole screen. I tried seperating that widget out, into a new widget but found no luck. Is my request possible to achieve?

I tried this, but still overlay occupies whole screen:
`class TapOnceButton extends StatelessWidget {
  final Widget child;
  final VoidFutureCallBack onPressed;

  const TapOnceButton({Key? key, required this.chil

[2022-01-06 02:05] rodrigobastosv commented on #27
Hi @mrishabh72 , first of all, thanks a lot for using this package.

I'm currently a little busy, but I'll definitely take a look at your request. It seems to be a use case that makes sense.

Please give me a few days that I try to see this for you.

Thanks!

[2022-01-11 16:46] rodrigobastosv commented on #27
@mrishabh72, sorry for the late reply.

I implemented your feature request. It should be available in version 2.0.5 already on pub.dev.

It was added 3 new properties to the `LoaderOverlay`:

- overlayWholeScreen: should be false in your case, to prevent the full screen "mode"
- overlayHeight: the desired height of the overlay
- overlayWidth: the desired width of the overlay

I also added an examp

[2022-01-11 16:46] #27 closed

[2022-01-14 12:39] jsdaniell opened #28 "There's a way to change the color of Circular Progress Indicator?"
I tried this way, but doesn't works.

[code]

[2022-01-14 13:40] rodrigobastosv commented on #28
Hi @jsdaniell , first of all, thanks for using this package.

Just set  `useDefaultLoading: false` and it will work!

Let me know if it worked!

[2022-01-14 14:24] jsdaniell commented on #28
Worked perfectly, thank you!!

[2022-01-14 14:24] #28 closed

[2022-01-18 20:40] RaidenSora opened #29 "Loader overlay isn't showing when executing a 2nd time in initState"
Loader overlay is working fine when executed in initState for the first time using this code:
[code]

it checks first if the screen is fully loaded after executing the loaderOverlay.show(), this is working when the screen is loaded for the first time but the loading isn't showing when the screen is loaded and the initState is executed again. There is no error message or what so ever that's why I d

[2022-01-19 00:18] rodrigobastosv commented on #29
Hi @RaidenSora , first of all thanks for using this package.

What do you mean by initState executing again? initState should never be executed twice on a widget lifecycle.

Also, it is not safe to call context.loaderOverlay.show() in the initState method. It is preferable that you call it on didChangeDependencies method.

Maybe this only change could make it work. Please let me know.

[2022-01-19 16:01] RaidenSora commented on #29
What I mean by initState executing again is if I go to another screen a 2nd time.
home screen -> accounts screen -> home screen again
I didn't use Navigation.pop() on this to go back to home screen again.

[2022-01-19 16:06] rodrigobastosv commented on #29
I got it now.

Did you tried to use didChangeDependencies method?

[2022-01-19 16:33] RaidenSora commented on #29
I tried but it's not working too.

[2022-01-19 16:35] rodrigobastosv commented on #29
Alright, can you please provide a sample repository so i can check it?

[2022-01-19 17:25] RaidenSora commented on #29
I solved it, it's because of notifyListeners() of Provider that causing this strange bug. Thank you @rodrigobastosv for helping me.

[2022-01-19 17:25] #29 closed

[2022-01-28 20:06] PK2011 opened #30 "Loader is not visible on second page when Navigator.push is used"
The plugin works great for first page. But when I navigate to next page using Navigator.push(to 2nd screen), and tried to show the loader, the context.loaderOverlay.visible variable returns true, but the loader is not visible. And when I pop to first page, the loader is showing there.

main.dart
[code]

LayoutPage
[code]

DetailPage
[code]

The loader in details page is not showing instead its vis

[2022-01-28 20:13] #30 closed

[2022-01-28 20:14] PK2011 commented on #30
Global Overlay Loader worked fine. This is really great plugin

[2022-01-29 02:48] rodrigobastosv commented on #30
Thanks very much @PK2011 !

[2022-03-01 18:28] luis-cruzt opened #31 "How to initialize the package on unit testing?"
Is there a way to initialize the package without using the Widget?

I'm getting this error on my unit test:

`LateInitializationError: Field '_overlayController@1100390500' has not been initialized`

[2022-03-02 06:21] urvashik-7span commented on #26
Any luck on this? Facing same issue .

[2022-03-02 09:20] rodrigobastosv commented on #26
Hi @urvashik-7span , thanks for using this package.

Are you calling overlay on initState? LoaderOverlay uses InheritwdWidget so you should never call it on initState.

Can you provide a small sample so i can reproduce your problem?

Thanks very much

[2022-03-02 09:23] rodrigobastosv commented on #31
Hi @luis-cruzt ,

Thanks a lot for using this package.

No. You have to use the widget. All the initialization is done when the widget is inserted on the widget tree.

But you can just wrap on your test widget and it will just work!

[2022-03-02 18:02] luis-cruzt commented on #31
so i can't use this package on unit testing?

[2022-03-02 18:12] rodrigobastosv commented on #31
Sure you can :)

But you have to wrap the widget under testing in the LoaderOverlay.

Something like that:

[code]

Sorry for the poor typing, i'm on the phone.

[2022-03-02 18:16] luis-cruzt commented on #31
As far as i know `pumpWidget` belongs to widget testing, and i'm trying to do unit testing:
https://docs.flutter.dev/testing

[2022-03-02 18:19] rodrigobastosv commented on #31
I thought you were doing Widget testing. My bad.

What are you testing then? OverlayController is a widget and should not afect in any manner unit tests.

Can you please provide more context?

[2022-03-02 18:23] luis-cruzt commented on #31
I'm trying to do unit testing, i have this function:
[code]

Then, the test fails on the `context.loaderOverlay.show()` line with the following error:

`LateInitializationError: Field '_overlayController@1100390500' has not been initialized`

That's why i'm asking if there's a way to initialize the overlay controller without providing the LoaderOverlay widget at the top of the app.

Thanks!

[2022-03-02 18:30] rodrigobastosv commented on #31
Thanks for the information. In this case you cannot initialize the overlay without a widget. This what you doing is not a good practice IMO. Showing/Hiding loading, navigating are purely UI stuff and because of that belongs to the Widget layer.

In the same way you could not test navigation, because it also depends on the widget tree. I highly recomend you to refactor your code. Trust me, it will

[2022-03-02 20:42] luis-cruzt commented on #31
Well IMO I don't think it's a bad practice because I'm using only the BuildContext, but thank you for the response!

So the answer is, no, we can't use this package for unit testing :)

[2022-03-02 20:55] rodrigobastosv commented on #31
I have a lot of projects that use OverlayLoader and have unit tests :). In those projects i try not to mix ui logic with business logic.

But everyone knows what is best for your projects. I want to thank you again for using this package!

I'll close this issue for now, but feel free to reopen if needes

[2022-03-02 20:55] #31 closed

[2022-03-22 13:50] YalamberIngnam opened #32 "Default Overlay Adaptive Loader"
Default overlay loader is set to circular progress indicator, provided by material.io by default. It also displays the same on IOS. can it be made adaptive?

[2022-03-22 14:14] rodrigobastosv commented on #32
Hi @YalamberIngnam , first of all thanks for using this package and thanks for opening this issue.

It's a great request and fairly simple to do. By night i'll implement this. Thanks!

[2022-03-24 03:09] YalamberIngnam commented on #32
Thank you.

[2022-03-27 00:08] rodrigobastosv commented on #32
@YalamberIngnam your request was implemented on the 2.0.6 version of the package. It's already uploaded to pub.dev.

Thanks very much!

[2022-03-27 00:08] #32 closed

[2022-04-11 07:17] flodaniel opened #33 "Android Back Button skipping page when using overlay"
I have two Pages A and B. Page A is the root of my app and when going back from Page A, the app is closed.

Page A uses `LoaderOverlay` at its root and displays a loading before navigating from Page A to Page B.
When using the android back button on Page B, the app closes instead of navigating back to Page A.
When `context.loaderOverlay.show()` is not called, this behaviour does not occur. So the

[2022-04-11 12:38] rodrigobastosv commented on #33
Hi @flodaniel , first of all thanks for using this package and thanks for the detailed issue.

This is a very strange behavior, LoaderOverlay has nothing to do with navigation. Are you using the disableBackButton property set to true or false? I guess this is the only thing closely related to navigation.

Can you provide a small repo with the problem? It will help me a lot debuging this issue.

Th

[2022-04-12 09:36] flodaniel commented on #33
Hi @rodrigobastosv ,

thanks for your reply :)

I tried it with both variants but the behaviour did not change sadly.

Will try to create a repo today :)

[2022-04-20 18:31] jbryanh opened #34 "Feature Idea"
Just an idea:  An optional timeout with duration to hide the loader.

[2022-04-23 16:11] rodrigobastosv commented on #34
Hi @jbryanh , thanks for using this package. Can you provide more context? I found it interesting but i want to know the complete usecase of this. I tend not to like to bring features that can be implemented outside the package itself.

Thanks again

[2022-05-14 23:02] ouais123 opened #35 "Warning in last version off flutter SDK 3.0.0 "Operand of null-aware operation '!' has type 'WidgetsBinding' which excludes null.""

[2022-05-16 14:17] rodrigobastosv commented on #35
@ouais123 thanks for using this package!

The warning was caused by a dependency. I released a new version of the package with updated versions. Please refer to the version 2.0.7, it has the correction.

Will close the issue for now, but feel free to reopen if needed.

Thanks again

[2022-05-16 14:17] #35 closed

[2022-06-03 13:50] wangmir opened #36 "Selecting between multiple loading overlay."
Hi, I'm glad to find this package!

But I have one difficulty when using this.

First of all, I used global loading overlay for global loading view.

But in some cases, i wanna show not global overlay, but loading for some part of view (like, inside button).

So, if u make loading overlay with naming or key, and show loading overlay with that key, then I think we can select between multiple overla

[2022-06-03 17:45] rodrigobastosv commented on #36
Hello @wangmir , thanks so much for using this package.

This is a great proposal. Unfortunately, because the way loading overlay is implemented (using InheritedWidget) is impossible to implement this feature.

Your idea of using a key to identify the correct Overlay is rather good, and it may work, but for this to work i'll have to make quite a lot of changes on the package.

Please give me a few

[2022-07-06 08:53] golfziller commented on #33
I has same problem

[2022-07-15 05:00] HoangNg97 opened #37 "LateInitializationError when calling context.loaderOverlay"
Hi, personally I think this package is the most convenient option to create loading screen.
But i encounter an error while calling `context.loaderOverlay.hide()` or `context.loaderOverlay.show()` like below :

I knew it's because the late field `_overlayController`  has not been initialize yet.So, I think it's will be nice if you make it nullable instead or something which might help me to check i

[2022-07-15 11:47] rodrigobastosv commented on #37
@HoangNg97 thanks for using this package. Yeah i can just make it nullable and it will kind of fix your error, but i really want to know what's going on. Can you provide a small sample so i can reproduce here on my side?

[2022-07-15 11:47] rodrigobastosv commented on #33
Hey guys, can you provide a small sample so i can reproduce this on my side?

[2022-07-20 10:39] HoangNg97 commented on #37
@rodrigobastosv Sorry for being late reply. I already made a small sample which may help you to acknowledge the error, please refer my sample here : [https://github.com/HoangNg97/demo-flutter](url)
I really hope you can fix this as soon as possible, my firebase crashlytics catch this as fatal error and give me crash-free users rate really low, which impact my user rating as well as the others

[2022-08-01 03:26] poringe commented on #33
`import 'package:flutter/cupertino.dart';
import 'package:flutter/material.dart';
import 'package:loader_overlay/loader_overlay.dart';

void main() {
  runApp(const MyApp());
}

class MyApp extends StatelessWidget {
  const MyApp({super.key});

  @override
  Widget build(BuildContext context) {
    return const MaterialApp(
      home: PageA(),
    );
  }
}

class PageA extends StatelessWidget {

[2022-08-01 12:00] rodrigobastosv commented on #33
Thanks for providing an example i can work on. I will see whats going on

[2022-08-02 02:44] rodrigobastosv commented on #33
The fix to this issue is on the 2.0.10, already on pub.dev.

Thanks very much!

[2022-08-02 02:46] rodrigobastosv commented on #36
This is a really good issue, but to make it possible a lot of things would change and probably a lot of breaking changes will rise, so i guess is safer to not but this on the package.

[2022-08-02 02:46] #36 closed

[2022-08-02 02:55] rodrigobastosv commented on #37
Hey @HoangNg97 , so sorry, i guess i missed your reply. The error you are getting is because your `LoaderOverlay` is too low on the widget tree. It should be above `TabBarView`.

Can you give me access rights to your example repo, so i can create a pull request and you can see the solution. I tested here and it worked.

Sorry again for the late reply and thanks for using this package!

[2022-08-02 02:56] rodrigobastosv commented on #34
Closing this issue due to the inactivity and the lack of response. Feel free to reopen if needed!

[2022-08-02 02:56] #34 closed

[2022-08-02 03:25] poringe commented on #33
Hi @rodrigobastosv

after upgrade to 2.0.10 still not showing loaderOverlay on example above

[2022-08-02 03:30] wangmir commented on #36
@rodrigobastosv ok, I understand.

[2022-08-02 15:23] rodrigobastosv commented on #33
Hey @poringe , will see again if i forgot something. Maybe i'll create a repo with the code so you can take a look.

Will reopen this issue and give you some feedback soon

[2022-08-02 16:33] jbryanh commented on #34
My sincerest apologies for ghosting this thread. How silly to request a feature and then not reply to your question, sorry I just got way past this note in my inbox.

It's certainly fine to leave it off and leave it to the developer to create their own timeouts. As far as a use case, it could be anything. Classic case might be authentication...no error returned at auth, but a User isn't gotten, so

[2022-08-03 00:00] rodrigobastosv commented on #33
I can confirm the issue is still hapening @poringe . Thanks for pointing it. Give me some days to figure out whats going on

[2022-08-23 15:27] flodaniel commented on #33
Hey @rodrigobastosv do you have a plan why this is still happening? I would love to use the package!

[2022-08-23 16:12] flodaniel commented on #33
@rodrigobastosv I just read throw the sample code and it is not what my issue is about. I have a navigation issue, whereas @poringe has a display problem.

[2022-08-23 16:25] rodrigobastosv commented on #33
Hey, @flodaniel i was trying to debug this based on the sample code  @poringe provided. Can you provide a sample code reproducing your error. I would love to see whats going on

[2022-08-24 14:50] flodaniel commented on #33
Hey @rodrigobastosv,
I tried to reproduce it today but failed in a smaller sample app.
We use the flow_builder package to handle navigation and what i noticed is that usually the android back button triggers a call of the call `onGeneratePages`, which is required for the back navigation to work.
As soon as we call `context.loaderOverlay.show()` + `context.loaderOverlay.hide()` the back button no l

[2022-08-24 15:32] flodaniel commented on #33
I am now working on finding the root cause and it appears to be the adding of the back button interceptor in `loader_overlay.dart`:
[code]

I will try to find a solution.

[2022-08-24 15:39] rodrigobastosv commented on #33
Thanks for these informations @flodaniel . Im not used to flow_builder, but i will try to create an example using it so i can reproduce the problem

[2022-08-24 15:45] flodaniel commented on #33
the flow_builder uses this implementation i think to work with navigation events. i would not be surprised if there can be some conflicts here.
 @felangel is the maintener of that project and could probably shine more light on how flow_builder handles the back button

<img width="705" alt="image" src="https://user-images.githubusercontent.com/6661557/186462732-944aa1bf-1a96-471d-ba26-db20a7d44c59.

[2022-08-24 16:08] flodaniel commented on #33
@rodrigobastosv i opened a new ticket here: https://github.com/marcglasberg/back_button_interceptor/issues/23

[2022-08-24 16:33] rodrigobastosv commented on #33
Great @flodaniel , i'll follow this ticket too

[2022-08-25 04:56] HoangNg97 commented on #37
Hi @rodrigobastosv , thanks a lot for your solution, i tried it and the error disappeared, you saved me and app crash-free users now skyrocket.
Thank you very much again and I hope your solution will help the others avoid this error

[2022-08-25 04:56] #37 closed

[2022-09-24 14:10] mambaur opened #40 "Loader not showing when im doing setState"

[2022-09-24 16:52] rodrigobastosv commented on #40
Hello @mambaur , thanks for using this package. It's not very clear for me what's you problem. Can you provide a minimal sample that reproduces your issue?

[2022-09-28 10:02] burghoffdavid opened #41 "Missing features in GlobalLoaderOverlay"
Hey, first of thanks for the package, works great!
One thing I noticed is that the GlobalLoaderOverlay is missing some crucial features, such as `duration`, despite the documentation stating the following:

Is there currently a workaround to enable animations to the GlobalLoaderOverlay?

[2022-09-28 16:48] rodrigobastosv commented on #41
Hey @burghoffdavid thanks a lot for using this package and thanks a lot for the feedback.

I'll take a look at this as soon as i can.

[2022-09-29 02:10] rodrigobastosv commented on #41
Hello @burghoffdavid , i just added all the features of LoaderOverlay into GlobalLoaderOverlay.

It's already available at version 2.1.0 on pub.dev.

Thanks a lot for using this package.

I will close this issue for now, but feel free to reopen if needed.

[2022-09-29 02:11] #41 closed

[2022-09-30 09:08] burghoffdavid commented on #41
Hey @rodrigobastosv!
Wow that was fast, thanks for updating.

Cheers,
David

[2022-10-05 12:57] gasaichandesu opened #42 "LoaderOverlay prevents navigation with back and forward toolbar buttons on web"
Hi,I have recently discovered a strange bug while using a combination of `auto_route` and `loading_overlay`. The thing is, as soon as loader overlay was shown, browser navigation with back and forward arrows is broken
I have created a sample repository showing this bug: https://github.com/gasaichandesu/web_navigation_test

Steps to reproduce:

- Run application in Chrome, make sure navigation is w

[2022-10-06 11:11] rodrigobastosv commented on #42
Hi @gasaichandesu, thanks so much for using this package. This package uses [BackButtonInterceptor](https://pub.dev/packages/back_button_interceptor) under the hood. That's probably whats causing this issue.

Can you please confirm to me if you still get this error if you pass false to the disableBackButton property?

Thanks!

[2022-10-06 11:26] rodrigobastosv commented on #42
I am not very used to how navigator 2.0 works under the hood. But i will take a look at your sample repository to see if i figured it out. Thanks very much!

[2022-10-22 11:25] bruno-f-silva opened #43 "Loader Overlay acts weird when there's multiple pages using it"
Hello! First of all, I'd like to thank you for this great package!

Here's my problem. I have a hub page that has 5 buttons, 4 of them take you to different pages and one of them does stuff, part of it is to call context.loaderOverlay.show. When I click that button to show the overlay, it shows without any problem.

But if I go to any of the two of those four pages that also has a LoaderOverlay, g

[2022-10-27 16:44] ComputerMaverick69 opened #44 "LoaderOverlay not showing"
As implemented below, the loaderOverlay does not fire up on button press while other methods within same works perfectly.

[code]